<nav class="site-navbar">
  <div class="container navbar-container">
    <a class="navbar-brand" routerLink="/home">
      {{ 'nav.brand' | translate }}
    </a>

    <div class="header-search">
      <input
        type="text"
        class="form-control"
        [placeholder]="'nav.searchPlaceholder' | translate"
        [(ngModel)]="searchQuery"
        (keyup)="onSearchKeyup($event)"
      />
    </div>

    <div class="navbar-right">
      <ul class="navbar-nav">
        <a class="nav-link" routerLink="/products">{{ 'nav.products' | translate }}</a>
        <a class="nav-link" routerLink="/learning">{{ 'nav.learn' | translate }}</a>

        <ng-container *ngIf="isLogged">
          <a class="nav-link" routerLink="/profile">{{ 'nav.profile' | translate }}</a>
          <a class="nav-link" routerLink="/cart">{{ 'nav.cart' | translate }}</a>
          <ng-container *ngIf="isAdmin">
            <a class="nav-link" routerLink="/admin">{{ 'nav.admin' | translate }}</a>
          </ng-container>
          <a class="nav-link" (click)="logout()">{{ 'nav.logout' | translate }}</a>
        </ng-container>

        <ng-container *ngIf="!isLogged">
          <a class="nav-link" routerLink="/login">{{ 'nav.login' | translate }}</a>
        </ng-container>
      </ul>

      <div class="header-actions">
        <app-language-selector></app-language-selector>
        <app-theme-toggle></app-theme-toggle>
      </div>
    </div>
  </div>
</nav>
